%ion-view{:title => ""}
  %ion-nav-bar.slide-left-right.bar-light

  %ion-nav-buttons{:side => "left"}
    %button.button.button-positive.button-clear.no-animation{"ng-click" => "startApp()", "ng-if" => "!slideIndex"}
      Skip Intro
    %button.button.button-positive.button-clear.no-animation{"ng-click" => "previous()", "ng-if" => "slideIndex > 0"}
      Previous Slide
  %ion-nav-buttons{:side => "right"}
    %button.button.button-positive.button-clear.no-animation{"ng-click" => "next()", "ng-if" => "slideIndex != 2"}
      Next
    %button.button.button-positive.button-clear.no-animation{"ng-click" => "startApp()", "ng-if" => "slideIndex == 2"}
      Start using MyApp
  %ion-slide-box{"on-slide-changed" => "slideChanged(index)"}
    %ion-slide
      %h3 Thank you for choosing Awesome!
      #logo
        %img{:src => "#{image_path('app_icon.png')}"}
      %p
        We've worked super hard to make you happy.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    %ion-slide
      %h3 Using Awesome
      #list
        %h5 Just three steps:
        %ol
          %li Be awesome
          %li Stay awesome
          %li There is no step 3
    %ion-slide
      %h3 Any questions?
      %p
        Too bad!