%ion-side-menus

  %ion-side-menu-content(drag-content="true")
    %ion-nav-bar.bar-stable.nav-title-slide-ios7
    %ion-nav-view(animation="slide-left-right")

  %ion-side-menu{side: "left"}
    %header.bar.bar-header.bar-stable
      %h1.title My Profile
    %ion-content.has-header
      %ion-list
        %ion-item{:href => "#/main/seek", "menu-close" => "", "nav-clear" => ""}
          Seek
        %ion-item{:href => "#/main/browse", "menu-close" => "", "nav-clear" => ""}
          Browse
        %ion-item{:href => "#/main/destroy", "menu-close" => "", "nav-clear" => ""}
          Destroy

        %ion-item.item-divider{"menu-close" => "", "nav-clear" => "", "ng-click" => "logout()"}
          Logout
