@import "kendo/styles/mobile/kendo.mobile.all.less";

#drawer {
  border-right: 1px solid #1A1A1A;

  .km-group-title {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .km-content {
    border-right: 1px solid #aaa;
  }


  .km-listview-link::after {
    display: none;
  }

}

.km-burger-menu:after {
  content: "\e077";
}


#intro {
  [data-role="page"] {
    text-align: center;
    padding: 2em 0;

    ol {
      margin: 0 auto;
      display: inline-block;
      text-align: left;
    }

    white-space: normal;
  }

  .km-pages {
    position: relative;
    top: -2em;
  }
}